body{
    background-color: rgb(0, 38, 255);
}
h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: rgb(199, 197, 197);
}
h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: #c2bbb1;
  }

hr{
    border-color:black;
    padding: 2px;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #c9c1b7;
}